.header{
   background-color: var(--orange);
   width: 100%;
   height: 12vh;
   display: flex;
   align-items: center;
   padding: 0 .875rem;
   position: relative;
}

.header--menu,
.burger--menu,
.user,
.checkbox{
   display: none;
}

.header--link{
   margin-right: auto;
}

.link--image{
   height: 9vh;

}

.header--icons{
   height: 100%;
   display: flex;
   align-items: center;
   gap: .5em;
}

.icons--icon{
   --icon-size: 5.5vh;
   height: var(--icon-size);
   width: var(--icon-size);
}

.burger{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 9px;
   width: 4.25rem;
}

.burger--line{
   background-color: var(--yellow);
   width: 65%;
   height: 4px;
   border-radius: 4px;   
   transform-origin: 0; 
   transition: transform .5s ease-in-out, opacity .75s ease-in-out;
}

.close > .burger--line{
   background-color: var(--red);
}

.close > .line-one{
   transform: translateX(20%) rotate(45deg) scaleX(0.85);
   transition: transform 1s ease-in-out, background-color .5s ease-in;
}

.close > .line-two{
   opacity: 0;
   background-color: var(--yellow);
   transition: opacity .5s ease-in-out;
}

.close > .line-three{
   transform: translateX(20%) rotate(-45deg) scaleX(0.85);
   transition: transform 1s ease-in-out, background-color .5s ease-in;
}

:root{
   --menu-height: 10vh;
}

.burger--menu{
   position: absolute;
   right: 0;
   height: auto;
   width: 50%;
   background-color: var(--yellow);
   display: block;;
   
   transform: scale(1,0) ;
   transform-origin: top; 
   transition: transform 1s ease-in;  
}

.close + .burger--menu{      
   transform: scale(1,1);    
   transition: transform .5s ease-out;
}

.burger--menu--list{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: var(--size-nm);
   gap: 1em;
   background-color: var(--yellow);
   border: 2px solid var(--orange);
   border-top: none;
   width: 100%;
   padding: 1em 0;
}

.burger--menu--list--item{
   width: 100%;
   text-align: center;
   position: relative;

   opacity: 0;
   transition: opacity .5s linear .25s;
}

.close ~ .burger--menu .burger--menu--list--item{
   opacity: 1;
   transition: opacity .5s ease;
}

.burger--menu--list--item--link{
   text-decoration: none;
   cursor: pointer;
   font-family: var(--font-art);
   color: var(--orange);
}

.arrow{
   content: '';
   position: absolute;
   top: 50%;
   transform: translateY(-50%) rotate(0);
   left: 20%;
   width: 0;
   height: 0;
   border-top: .375em solid var(--orange);
   border-right: .375em solid transparent;
   border-left: .375em solid transparent;
   transition: transform .4s ease-in;
}

.list--item--submenu{
   display: block;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: var(--orange-transparent);
   z-index: -1;
   opacity: 0;
   transition: left .5s ease-in, opacity .4s linear .4s;
}

.checkbox:checked + .list--item--submenu{      
   transition: left .5s ease;
   opacity: 1;
}

.submenu--item--link{
   text-decoration: none;
}


@media screen and (min-width: 800px) {
   .header{
      justify-content: space-between;
      padding: 0 1.5em;
   }

   .user{
      display: block;
   }

   .header--link{
      margin-right: 0;
   }
   
   .burger{
      display: none;
   }

   .header--menu{
      display: block;
   }

   .header--icons{
      gap: 1.5em;
   }
   
   .header--list{
      display: flex;
      margin-right: 1.5rem;
   }

   .header--list--item{      
      font-size: var(--size-nm);
      margin-right: 2em;
   }

   .header--list--item:last-of-type{
      margin-right: 0;
   }

   .header--list--item--link{
   text-decoration: none;
   cursor: pointer;
   font-family: var(--font-art);
   color: var(--yellow);
   }
}
