.main--title{
   font-family: var(--font-art);
   font-size: var(--size-xlg);
   color: var(--orange);
   text-align: center;
   line-height: 1.4;
   margin: 3rem auto 1.5rem;
}

.main--card-section{
   padding: 0 .875rem;
   display: flex;
   flex-wrap: wrap;
   gap: 1.25rem;
   margin-bottom: 3rem ;
   justify-content: space-evenly;
}

.card-section--card{
   width: 46%;
   border-radius: 3em 1em 1em 3em/ 2em 1em 1em 2em;
   background-color: var(--orange-transparent);
   padding-bottom: 1.25em;  
}

.card--image{
   width: 100%;
}

.card--book{
   font-family: var(--font-sober);
   font-size: var(--size-nm);
   color: var(--yellow);
   font-weight: 600;
   text-align: center;
   line-height: 1.2;
}

.card--author{
   font-family: var(--font-sober);
   font-size: var(--size-sm);
   color: var(--yellow);
   font-weight: 300;
   text-align: center;
   line-height: 1.2;
   margin-bottom: .75rem;
}

.card--price{
   font-family: var(--font-art);
   font-size: var(--size-lg);
   color: var(--red);
   text-align: center;
   line-height: 1.3;
   margin-bottom: .25rem;
}

.card--button{
   background-color: var(--red);
   color: var(--green);
   font-family: var(--font-art);
   font-size: var(--size-lg);
   display: block;
   margin: 0 auto;
   width: 80%;
   padding: .125em 0;
   border: none;
   border-radius: .625em;
}

@media screen and (min-width: 600px){
   .card-section--card{
      width: 23%;
   }
}

@media screen and (min-width: 2000px){
   .card-section--card{
      width: 19%;
   }

   .card-section--card:last-of-type{
      margin-right: auto;
   }
}