.banner--container{
   position: relative;
}

.banner--image{
   max-width: 90%;
   max-height: 85vh;
   margin: 0 auto;
   display: block;
}

.banner--text{
   font-family: var(--font-art);
   font-size: var(--size-nm);
   color: var(--orange);
   text-align: center;
   line-height: 1.4;
   position: absolute;
   top: 15%;
   left: 50%;
   width: 40%;
}